<div class="gallery">
  <h2>Free Stock Photos</h2>
  <div class="masonary">
    <div class="m-block"><img src="../assets/pic1.png" /></div>
    <div class="m-block"><img src="../assets/pic2.png" /></div>
    <div class="m-block"><img src="../assets/pic3.png" /></div>
    <div class="m-block"><img src="../assets/pic4.png" /></div>
    <div class="m-block"><img src="../assets/pic5.png" /></div>
    <div class="m-block"><img src="../assets/pic6.png" /></div>
    <div class="m-block"><img src="../assets/pic7.png" /></div>
    <div class="m-block"><img src="../assets/pic8.png" /></div>
    <div class="m-block"><img src="../assets/pic9.png" /></div>
    <div class="m-block"><img src="../assets/pic10.png" /></div>
  </div>
  <a href="" class="explore-btn">Explore More</a>
</div>
