<div class="customers">
  <h2>Our Customers</h2>
  <div class="customers-row">
    <div class="customers-col">
      <img src="..\assets\walmart.png" alt="" />
    </div>
    <div class="customers-col">
      <img src="..\assets\adobe.png" alt="" />
    </div>
    <div class="customers-col">
      <img src="..\assets\microsoft.png" alt="" />
    </div>
    <div class="customers-col">
      <img src="..\assets\facebook.png" alt="" />
    </div>
  </div>
</div>

<div class="about">
  <h2>About ImPics</h2>
  <p>
    ImPics is one of the largest stock companies in the world with more than 10
    million photos across the globe. Lorem Ipsium has been industry's standard
    dummy text ever since the 1500s, when an unknown printer took a galley of
    type. Lorem Ipsium.
  </p>
</div>
<div class="copyright">
  <p>Copyright &copy; 2021,Impics Pvt Ltd</p>
</div>
